/* .bg-custom {
  background-color: #ffd9b0;
}
.bg-form {
  background-color: #111111;
}
.text-custom {
  color: bisque;
}
.button-custom {
  background-color: #4a381c;
}
.custom-margin {
  margin-left: 37%;
} */
* {
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
  /* background-color: #000000; */
}

.backimg {
  width: 100%;
  height: 100vh;
  /* background-image: url("../images/13.jpg"); */
  background-color: #f2b878;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.nayaApplogo {
  background-color: #000000;
  box-shadow: 5px 5px #888888;
}
.loginForm {
  width: 350px;
  height: 550px;
  /* background-image: linear-gradient(to right, #2c76a2 50%, #106893 50%);
   */
  background-color: #000000;
  box-shadow: 5px 5px #888888;
  /* border-radius: 10%; */
}
.custom-font {
  font-family: Georgia;
  font-weight: 700;
  /* color: #f2b878; */
}
img {
  width: 130px;
  height: 150px;
  /* border-radius: 50%; */
}

form {
  padding: 0 10%;
}

.loginForm form label {
  /* width: 100%;
  display: block;
  text-align: left;
  color: #f2b878;
  margin-top: 15px;
  font-size: 1.3em; */
  width: 100%;
  display: block;
  text-align: left;
  color: #f2b878;
  margin-top: 14px;
  font-size: 1.3em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #f2b878;
  padding: 5px 20px;
  /* box-sizing: border-box; */
  background-color: transparent;
  font-family: fontawesome;
  color: white;
  font-size: 1.5em;
}

input:focus {
  outline: none;
}

::placeholder {
  color: white;
}

.loginForm form p {
  color: white;
  text-align: right;
  font-size: 1em;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: black;
  background-color: #f2b878;
  text-transform: uppercase;
  border: none;
  font-size: 1.2em;
  border-radius: 25px;
}
@media only screen and (max-width: 600px) {
  .nayaApplogo {
    margin-top: 13%;
  }
}
@media only screen and(max-width: 600px) {
  .nayaApplogo1 {
    z-index: -1;
    position: absolute;
    background: black;
  }
}
